Repository CMPUT301W24T26/OOPs-I-Pushed-To-Main, pull requests merged in 2024-03, with the labels that each got.

#79 Justin - Attendee profile page
  src/OOPsIPushedToMain/app/src/androidTest/java/com/example/oopsipushedtomain/AttendeeProfileActivityTest.java
  src/OOPsIPushedToMain/app/src/main/AndroidManifest.xml
  src/OOPsIPushedToMain/app/src/main/java/com/example/oopsipushedtomain/AttendeeProfileActivity.java
  src/OOPsIPushedToMain/app/src/main/java/com/example/oopsipushedtomain/EditFieldDialogFragment.java
  src/OOPsIPushedToMain/app/src/main/java/com/example/oopsipushedtomain/FirstFragment.java
  src/OOPsIPushedToMain/app/src/main/java/com/example/oopsipushedtomain/MainActivity.java
  src/OOPsIPushedToMain/app/src/main/res/layout/activity_attendee_profile.xml
  src/OOPsIPushedToMain/app/src/main/res/layout/dialog_edit_field.xml
  src/OOPsIPushedToMain/app/src/main/res/values/colors.xml
  src/OOPsIPushedToMain/app/src/main/res/values/refs.xml
  src/OOPsIPushedToMain/app/src/main/res/values/strings.xml
  src/OOPsIPushedToMain/app/src/main/res/values/styles.xml
Labels: attendee

#80 Ningze Event
  doc/CRC cards.drawio.png
  src/OOPsIPushedToMain/.idea/deploymentTargetDropDown.xml
  src/OOPsIPushedToMain/.idea/gradle.xml
  src/OOPsIPushedToMain/.idea/misc.xml
  src/OOPsIPushedToMain/.idea/vcs.xml
  src/OOPsIPushedToMain/app/src/androidTest/java/com/example/oopsipushedtomain/EventDetailsActivityAttendeeTest.java
  src/OOPsIPushedToMain/app/src/androidTest/java/com/example/oopsipushedtomain/EventDetailsActivityOrganizerTest.java
  src/OOPsIPushedToMain/app/src/androidTest/java/com/example/oopsipushedtomain/EventListActivityTest.java
  src/OOPsIPushedToMain/app/src/androidTest/java/com/example/oopsipushedtomain/NewEventActivityTest.java
  src/OOPsIPushedToMain/app/src/main/AndroidManifest.xml
  src/OOPsIPushedToMain/app/src/main/java/com/example/oopsipushedtomain/Event.java
  src/OOPsIPushedToMain/app/src/main/java/com/example/oopsipushedtomain/EventDetailsActivityAttendee.java
  src/OOPsIPushedToMain/app/src/main/java/com/example/oopsipushedtomain/EventDetailsActivityOrganizer.java
  src/OOPsIPushedToMain/app/src/main/java/com/example/oopsipushedtomain/EventListActivity.java
  src/OOPsIPushedToMain/app/src/main/java/com/example/oopsipushedtomain/EventListAdapter.java
  src/OOPsIPushedToMain/app/src/main/java/com/example/oopsipushedtomain/NewEventActivity.java
  src/OOPsIPushedToMain/app/src/main/res/layout/activity_event_details_attendee.xml
  src/OOPsIPushedToMain/app/src/main/res/layout/activity_event_details_organizer.xml
  src/OOPsIPushedToMain/app/src/main/res/layout/activity_event_list.xml
  src/OOPsIPushedToMain/app/src/main/res/layout/activity_new_event.xml
  src/OOPsIPushedToMain/app/src/main/res/layout/item_event.xml
Labels: event

#113 Ningze uml class disgram part3
  doc/UML class diagram.drawio.png
Labels: documentation

#126 Attendee signing up feature, updating event detail page ui accordingly
  src/OOPsIPushedToMain/app/src/main/java/com/oopsipushedtomain/CustomFirebaseAuth.java
  src/OOPsIPushedToMain/app/src/main/java/com/oopsipushedtomain/Event.java
  src/OOPsIPushedToMain/app/src/main/java/com/oopsipushedtomain/EventDetailsActivity.java
  src/OOPsIPushedToMain/app/src/main/java/com/oopsipushedtomain/ProfileActivity.java
  src/OOPsIPushedToMain/app/src/main/res/layout/activity_event_details.xml
Labels: attendee, event

#133 Update UML part3
  doc/UML class diagram.drawio.png
Labels: documentation
